<h1>All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
	<b><li><%= contact.first_name %> <%= contact.last_name %></li></b>
	<%= contact.email %> ----- <%= contact.note %> <br /><br />
<% end %>
</ul>
