<h1 class="body_title">All Contacts</h1>

<ul>
	<h4 class="print_all_contacts">
			<% Contact.all.each do |contact| %>
				<a href= '/contacts/<%= contact.id %>'>
					<b><li><%= contact.first_name %> <%= contact.last_name %></li></b>
				</a>
				<br />
			<% end %>
	</h4>
</ul>
