<h1 class="body_title">All Contacts</h1>

<ul>
	<h4 class="print_all_contacts">
			<% Contact.all.each do |contact| %>
				<b><li><%= contact.first_name %> <%= contact.last_name %></li></b>
				<%= contact.email %> ----- <%= contact.note %> <br /><br />
			<% end %>
	</h4>
</ul>
