<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<meta charset="utf-8">
		<title>Mitch's CRM</title>
	</head>

	<body>
		<header>
			<h1 class='logo'>Mitch's CRM</h1>
					<nav>
						<h4>
							<h4>+ + +</h4>
							<a href="/"> Home </a><br />
							<a href="/contacts/new"> Add New Contact </a><br />
							<a href="/contacts"> View All Contacts</a><br />
							<h4></h4>
						</h4>
					</nav>

		</header>

		<%= yield %>

		<footer>
			<h5 class="footer">Mitchell Pateman's CRM &copy;</h5>
		</footer>

	</body>
</html>
