<h1 class='body_title'>Create new Contact</h1>

<form action='/contacts' method='post'>
	<input type='text' placeholder='First Name' name='first_name'><br /><br />
	<input type='text' placeholder='Last Name' name='last_name'><br /><br />
	<input type='text' placeholder='Email' name='email'><br /><br />
	<input type='text' placeholder='Note' name='note'><br /><br />
	<input type='submit' value='New Contact'>
</form>
