<h2 class="body_title_onecontact"><%= @contact.first_name %> <%= @contact.last_name %></h2>
<h4 class="print_all_contacts">
	<strong>Email:</strong> <%= @contact.email %><br />
	<strong>Note:</strong>
	<%= @contact.note %>
</h4>
